/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole titolo */
h1 {
    text-align: center;
    font-size: 38px;
    color: fuchsia;
    font-weight: bold;
}

/* regole p sotto il titolo */

#lorem {
    text-align: center;
    margin: 60px;
}

/* regole elemento output */
#outputCardElement {
    display: flex;
}

/* regole card team */
.card-team {
    
}
  